@import 'fonts/_proxima.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.heading {
  overflow: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#sticky-header {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
}

.header {
  min-height: 113px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 65px;
  font-size: 60px;
  font-family: 'Proxima Nova';
}

.fade {
  overflow: hidden;
  opacity: 1;
  font-size: 47px;
  display: block;
}

.contain {
  overflow: hidden;
  font-family: 'Proxima Nova';
}

.second-container {
  margin: 0 65px;
  padding-bottom: 16px;
}
